<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mountview.org.uk/wp-content/uploads/2018/10/IMG_7524-Pano-1w.jpg);">
  <div class="container">
    <h1>Your Studios' Bookings</h1>
  </div>
</div>

<div class="container">
  <% @bookings.each do |b| %>
  <div class="cards-booking">
    <div>
      <%= cl_image_tag(b.studio.photos.first.key, width: 240, height: 120, crop: :fill, class: "image-booking") %>
    </div>
    <div class="cards-booking-details">
      <p><strong><%= b.studio.name %> </strong></p>
      <p><em>Booked by: <%= b.user.name %></em></p>
      <p><i class="far fa-calendar-alt"></i> <%= b.start_date.strftime('%b %dth, %Y %H:%M') %> ~ <%= b.end_date.strftime('%b %dth, %Y %H:%M') %></p>
      <p><em><%= b.status.capitalize %></em></p>
    </div>
    <div class="cards-confirmation">
      <% if b.pending? %>
        <p class="mb-2">Confirm Booking?</p>
          <div class="d-flex">
            <div>
              <%= simple_form_for(b, remote: true, url: owner_booking_path(b)) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'confirmed' } %>
                <%= f.submit "Confirm", class: "btn-booking-confirm" %>
              <% end %>
            </div>
            <div>
              <%= simple_form_for(b, remote: true, url: owner_booking_path(b)) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'declined' } %>
                <%= f.submit "Decline", class: "btn-booking-confirm" %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
