<div class="container">
  <h3>My Bookings</h3>
</div>

<div class="booking-cards container mt-5">
  <% @bookings.each do |booking| %>
  <div class="card-body">
    <h5>Booking Schedule</h5>
    <p><strong>Check-In:</strong><br><%= "#{(booking.start_date).strftime('%b %dth, %Y %H:%M')}"%></p>
    <p><strong>Check-Out:</strong><br><%= "#{(booking.end_date).strftime('%b %dth, %Y %H:%M')}"%></p>
    <p><strong>Status:</strong> <%= "#{booking.status ? "Confirmed" : "Pending"}"%></p>
    <div class="edit-booking">
    <%= link_to edit_booking_path(booking) do %>
      <p>EDIT<i class="far fa-edit"></i></p>
    <% end %>
    <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} do %>
      <p>CANCEL<i class="far fa-window-close"></i></p>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class = "container mt-5">
  <%= link_to studios_path(query: params[:query]), class: "btn-gradient" do %>
    <i class="fas fa-long-arrow-alt-left"></i>See more studios
  <% end %>
</div>


