<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mountview.org.uk/wp-content/uploads/2018/10/IMG_7524-Pano-1w.jpg);">
  <div class="container">
    <h1>My Bookings</h1>
  </div>
</div>

<div class="container">
  <% @bookings.each do |b| %>
  <div class="cards-booking mt-5">
    <div>
      <%= cl_image_tag(b.studio.photos.first.key, width: 240, height: 120, crop: :fill, class: "image-booking") %>
    </div>
    <div class="cards-booking-details">
      <p><strong><%= b.studio.name %> </strong></p>
      <p><em><%= b.studio.location %></em></p>
      <p><i class="far fa-calendar-alt"></i> <%= b.start_date.strftime('%b %dth, %Y %H:%M') %> ~ <%= b.end_date.strftime('%b %dth, %Y %H:%M') %></p>
      <p><em><%= b.status.capitalize %></em></p>
    </div>
    <%= render 'button_update', b: b %>
  </div>
  <% end %>
  <div class="my-5">
    <%= link_to studios_path(query: params[:query]), class: "btn-gradient" do %>
    <i class="fas fa-caret-left"></i> See more studios
    <% end %>
  </div>
</div>







