<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mountview.org.uk/wp-content/uploads/2018/10/IMG_7524-Pano-1w.jpg);">
  <div class="container">
    <h1>My Bookings</h1>
  </div>
</div>

<div class="container">
  <% @bookings.each do |b| %>
  <div class="cards-owner-booking">
    <div>
      <%= cl_image_tag(b.studio.photos.first.key, width: 240, height: 120, crop: :fill, class: "image-owner-booking") %>
    </div>
    <div class="cards-owner-booking-grow">
      <p><strong><%= b.studio.name %> </strong></p>
      <p><em><%= b.studio.location %></em></p>
      <p><i class="far fa-calendar-alt"></i> <%= b.start_date.strftime('%b %dth, %Y %H:%M') %> ~ <%= b.end_date.strftime('%b %dth, %Y %H:%M') %></p>
      <p><em><%= b.status.capitalize %></em></p>
    </div>
    <div class="cards-confirmation">
      <% if b.pending? %>
        <div class="edit-booking d-flex flex-column align-items-end text-dark">
        <%= link_to edit_booking_path(b) do %>
        <p>edit<i class="far fa-edit text-success"></i></p>
        <% end %>
        <%= link_to booking_path(b), method: :delete, data: { confirm: "Are you sure?"} do %>
        <p>cancel<i class="far fa-window-close text-warning"></i></p>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="mt-3">
    <%= link_to studios_path(query: params[:query]), class: "btn-gradient mb-5" do %>
    <i class="fas fa-caret-left"></i> See more studios
    <% end %>
  </div>
</div>







