<%= render 'shared/banner', studio: @studio.name, img_path: cl_image_path(@studio.photos.first.key) %>
<div class="container">
  <div class="row">
    <div class="col-md-8 studio-info">
      <div class="card-info">
        <div class="card-details">
          <p class="p-top-left"><i class="fas fa-vector-square"></i> <%= @studio.area %> m²</p>
          <p class="p-top-right"><i class="fas fa-users"></i> <%= @studio.capacity %></p>
          <p class="p-bottom-left"><i class="fas fa-map-marked-alt"></i> <%= @studio.location %></p>
          <p class="p-bottom-right"><i class="fas fa-yen-sign"></i> <%= @studio.rate %> per hour</p>
        </div>
        <div class="card-description">
          <h2 class="fw-bold">Description</h2>
          <p class="m-0"><%= @studio.description %></p>
        </div>
      </div>
    </div>
    <div class="studio-form col-md-4">
      <div class="form">
        <h3>Book Your Studio:</h3>
        <%= render 'shared/form' %>
      </div>
    </div>
    <div class="ml-5 mb-5">
      <%= link_to bookings_path, class: "btn-gradient" do %>
        <i class="fas fa-caret-left"></i> Back to My Bookings
      <% end %>
    </div>
  </div>
</div>
