<%= render 'shared/banner', studio: @studio.name, img_path: cl_image_path(@studio.photos.first.key) %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%# <% @studio.images.each do |image| %>
      <%# <%= cl_image_tag("#{image}", :width => 400, :crop => "pad") %>
      <%# <% end %>

      <p><%= "Address: #{@studio.location}" %></p>
      <p><%= "Rate: #{@studio.rate}" %></p>
    </div>
    <div class="col-md-4 form-shadow">
      <div class="form"></div>
        <h3>Book your Studio:</h3>
        <%= render 'shared/form' %>
      </div>
    </div>
  </div>
</div>

